Description
===========

<%= description %>

Requirements
============

## Platform:

<% unless platforms.empty? %>
<% platforms.each do |platform| %>
* <%= platform %>
<% end %>
<% else %>
*No platforms defined*
<% end %>

## Cookbooks:

<% unless dependencies.empty? %>
<% dependencies.each do |cookbook| %>
* <%= cookbook %>
<% end %>
<% else %>
*No dependencies defined*
<% end %>

Attributes
==========

<% unless attributes.empty? %>
<table>
  <tr>
    <td>Attribute</td>
    <td>Description</td>
    <td>Default</td>
  </tr>
<% attributes.each do |name, description, default| %>
  <tr>
    <td><code><%= name %></code></td>
    <td><%= description %></td>
    <td><code><%= default %></code></td>
  </tr>
<% end %>
</table>
<% else %>
*No attributes defined*
<% end %>

Recipes
=======

<% unless recipes.empty? %>
<% recipes.each do |recipe, description| %>
## <%= recipe %>

<%= description %>

<% end %>
<% else %>
*No recipes defined*
<% end %>

<% unless resources.empty? %>
Resources
=========
<% resources.each do |resource| %>
# <%= resource.native_resource.resource_name %>

<% unless resource.actions.empty? %>
### Actions

<% resource.actions.each do |action| %>
- <%= action %>: <%= resource.action_description(action) %><% if resource.default_action == action %>Default Action.<% end %>
<% end %>
<% end %>

<% unless resource.attributes.empty? %>
### Attribute Parameters

<% resource.attributes.each do |attribute| %>
- <%= attribute %>: <%= resource.attribute_description(attribute) %>
<% end %>
<% end %>

<% end %>

<% end %>

License and Author
==================

Author:: <%= author %> (<<%= author_email %>>)

Copyright:: <%= copyright_year %>, <%= author %>

License:: <%= license %>
